<form name="editUser">
	<h4>LastName</h4>
	<input type="text" ng-model="user.lastName">
	<h4>FirstName</h4>
	<input type="text" ng-model="user.firstName">
	<h4>Email</h4>
	<input type="text" ng-model="user.email">
	<h4>Password</h4>
	<input type="text" ng-model="user.password">
	<h4>PastPurchases</h4>
	<input type="text" ng-model="user.pastPurchases">
	<h4>Cart</h4>
	<input type="text" ng-model="user.cart">
	<h4>isAdmin</h4>
	<input type="checkbox" ng-model="user.isAdmin">
	<button ng-click="submit()">Save Changes</button>
</form>