<nav class="navbar navbar-fixed-top" style="background-color: #ccc; ">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="((!item.auth || isLoggedIn())&&item.admin===undefined)||(isLoggedIn() && isAdmin())">
                <a ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-show="!user"> 
                <a ui-sref="guestCart">Guest Cart</a> 
            </li>
        </ul>
        <div ng-show="!!user" class="welcome">
            <button ui-sref="profile" class="btn login-button">My Profile</button>
            <button ng-click="logout()" style="float:right" ng-if="user" class="btn login-button">Logout</button>
        </div>

        <div ng-show="!user">
            <button ui-sref="login" class="btn login-button">Login</button>
            <button ui-sref="newuser" class="btn login-button">Create Account</button>
        </div>

    </div>
</nav>