        
          <div class="border-radius:10px inline-block card blue-grey darken-1 margin:20px 20px; z-depth-2">
            <div style="text-align:left">
            <div class="card-content white-text">            
              <span class="card-title">{{product.title.substring(0,20)}}</span>
              <p>Instructor: Insert Here</p>
              <p>Category: {{product.categories[1]}}</p>
              <p>Price: ${{product.price/100}}</p>
              <p>Description: {{product.serviceDescription.substring(0,20)}}</p>
            </div>
            <div class="card-action">
              <a ng-show="user" style="cursor: pointer" ng-click="submit(product)">Add This to My Cart</a>
              <a ng-show="!user" style="cursor: pointer" ng-click="submit(product)">Add to Guest Cart</a>
            </div>
          </div>