        
          <div class="border-radius:10px inline-block card blue-grey darken-1 margin:20px 20px; z-depth-2">
              <div style="text-align:left">
                <div class="card-content white-text">            
                  <div class="row">
                    <div class="column">
                  <h5 class="">{{product.title}}</h5>
                  </div>
                  </div>
                  <div class="row">
                    <div class="column">
                      <img src="/imgs/{{product.instructor.picture}}.jpg" class="circle" style="float:right;
                        width: 180px;
                        height: auto"></img>
                  <p>Description: {{product.serviceDescription.substring(0,20)}}</p>
                  <p>Instructor: {{product.instructor.fullName}}</p>
                  <p>Category: {{product.categories[1]}}</p>
                  <p>Price: ${{product.price/100}}</p>
                  <p>Rating:{{product.instructor.rating.ratingsAverage}}/5</p>
                  <br>
                  <div ng-repeat="item in getTimes(product.instructor.rating.ratingsAverage) track by $index" class="glyphicon glyphicon-star"></div>
                  <div ng-repeat="item in getTimes(5-product.instructor.rating.ratingsAverage) track by $index" class="glyphicon glyphicon-star-empty"></div>
                </div>
              </div>
              <div class="card-action">
                <a ng-show="user" style="cursor: pointer" ng-click="submit(product); $event.stopPropagation()">Add This to My Cart</a>
                <a ng-show="!user" style="cursor: pointer" ng-click="submit(product); $event.stopPropagation()">Add to Guest Cart</a>
              </div>
            </div>
          </div>  