
<h3>{{user.firstName}}'s Profile:</h3>
<div class="row">
	<div class="col-md-2 lead">First Name:</div>
	<div class="col-md-10 lead">{{user.firstName}}</div>
</div>
<div class="row">
	<div class="col-md-2 lead">Last Name:</div>
	<div class="col-md-10 lead">{{user.lastName}}</div>
</div>
<div class="row">
	<div class="col-md-2 lead">Email:</div>
	<div class="col-md-10 lead">{{user.email}}</div>
</div>
<h3>Your Past Purchases</h3>
<div ng-repeat="purchase in user.pastPurchases">
	<trans
		transaction="purchase"
		instructor="purchase.product.instructor"
		product="purchase.product">
	</trans>
</div>
<button ng-click="consoleme()"></button>