<!-- <form action="/stripe" method="POST" id="payment-form"> -->
<form ng-submit="submit(card)">
    <span class="payment-errors"></span>
    <div class="modal-header">
      Please enter your credit card information
    </div>
    <div class="modal-body">
    <div class="form-row">
      <label>
        <span>Card Number</span>
        <input type="text" size="20" data-stripe="number" ng-model="card.number"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>CVC</span>
        <input type="text" size="4" data-stripe="cvc" ng-model="card.cvc"/>
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Expiration (MM/YYYY)</span>
        <input type="text" size="2" data-stripe="exp-month" ng-model="card.exp_month"/>
      </label>
      <span> / </span>
      <input type="text" size="4" data-stripe="exp-year" ng-model="card.exp_year"/>
    </div>
     <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Confirm Payment</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
      </div>
  </form>

